body, html {
    height: 100%;
    background: url('https://cdn2.advanceinfotech.org/bharatdirectory.in/1200x675/business/3135/techno-2-1709631821.webp') no-repeat center center fixed;
    background-size: cover;
  }

  .header {                        /*Header code which is used in codes in various format but in main code one global code is there */
    background-color: rgba(0, 76, 255, 0.9);
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }
  .container {                 /*container css code which is almost used in every code*/
    margin: 100px auto ;
    max-width: 1200px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 35px;
    border-radius: 10px;
  }
  .sidebar {                  /*sidebar which is used in codes*/
    width: 250px;
    height: auto;
    background:rgb(22, 40, 60);
    color: white;
    padding: 20px;
}
.sidebar h2 {
    margin-bottom: 20px;
}
.sidebar ul {
    height: 100vh;
    background-color: rgb(33, 50, 70);;
    list-style: none;
}
.sidebar ul li {
    padding: 10px;
    cursor: pointer;
}
.sidebar ul li:hover {
    border: 1px, solid, white;
    background: #1b263b;
}
.main-content {
    flex: 1;
    padding: 20px;
    background: #f8f9fa;
}
canvas {                     /* specially used in attendance part*/
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    max-width: 1000px;
    margin: auto;
  }
  .save-btn {               /*Save or submit button which is almost same in the codes*/
    background: yellow;
    border: none;
    padding: 10px;
    width: 150px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 20px;
}


